* {
    box-sizing: border-box;
}

body {
    background-color: #AAB2BD;
    font-family: 'Gentium Book Basic', 'Georgia', serif;
    line-height: 1.34;
    color: #434A54;
}

a {
    color: @brandColor;
}