/*
 *  Main Header
 */

.main-header-wrapper {
    position: fixed;
    z-index: 200;

    top: 0;
    left: 0;
    width: 100vw;
}

.main-header {
    display: flex;

    padding: 0 @padding;
    height: 58px;
    width: 100vw;

    background-color: #fff;
    font-family: @sansSerif;

    > * {
        width: 100%;
        height: 58px;
        line-height: 58px;
    }

    h1 {
        margin: 0;
        font-size: 17px;
    }

    nav {
        float: right;
        text-align: right;
        font-size: 13px;
    }
}


/*
 * Main navigation
 */

.main-nav {
    display: inline-block;
    vertical-align: top;

    a {
        display: inline-block;
        margin-left: @paddingThin;
        text-decoration: none;

        font-size: 13px;
        color: #434A54;
    }
}

.dropdown-nav {
    position: relative;
    display: inline-block;
    vertical-align: top;

    margin-left: @paddingThin;
}

.dropdown-nav-button {
    width: 58px;
    text-align: center;
}

.dropdown-nav-content {
    position: absolute;
    top: 58px;
    right: 0;

    a {
        display: block;
        padding: 0 @paddingThin;
        text-align: left;
    }
}


/*
 *  Page
 */

.page-wrapper {
    position: absolute;
    z-index: 100;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    &.page-flow {
        overflow-y: auto;
        overflow-x: hidden;
    }

    &.page-fit {
        overflow: hidden;

        .page {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.page {
    width: 100%;
    height: 100%;
}


/*
 *  Section
 */

.section-group {
    width: 100%;
}

.section-wrapper {
    position: relative;
    width: 100%;

    &.section-hero {
        height: 100vh;

        .section {
            height: 100%;
            width: 100%;
            background: #656D78;
        }

        .section-add {
            bottom: 0;
        }
    }

    &:last-child:not(.section-hero) {
        overflow: hidden;

        .section-add {
            height: @padding*2;
            bottom: 0;

            &:after {
                top: @padding;
            }
        }
    }

    &:hover {

    }
}

.section {
    padding: @paddingThick;
    background-color: #fff;

    > .row-add {
        bottom: auto;

        top: @padding*2;
        left: @paddingThick;
        right: @paddingThick;
    }
}

.section-add {
    position: absolute;
    z-index: 1;

    left: 0;
    bottom: -34px;
    width: 100%;
    height: @paddingThick;

    opacity: 0.01;
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &:after {
        content: '';
        position: absolute;
        display: block;

        top: 36px;
        left: @paddingThick;
        right: @paddingThick;
        height: 3px;
        margin-top: -1px;

        background-color: @brandColorLight;
        border-radius: 1px;
        transition: all 150ms ease-in-out;
    }

    &:hover {
        opacity: 1;
    }
}

.section-anim-enter {
    opacity: 0.01;
}

.section-anim-enter.section-anim-enter-active {
    transition: opacity 350ms ease-in-out;
    opacity: 1;
}

.section-anim-leave {
    opacity: 1;
}

.section-anim-leave.section-anim-leave-active {
    transition: opacity 350ms ease-in-out;
    opacity: 0.01;
}


/*
 * Rows
 */

.row-group {
    display: flex;
    flex-direction: column;
}

.row-wrapper {
    margin-bottom: @padding;

    &:last-child {
        margin-bottom: 0;
    }
}

.row {
    position: relative;

    > .column-add {
        right: auto;
        left: -@padding;
    }
}

.row-add {
    position: absolute;

    bottom: -@padding;
    left: 0;
    right: 0;
    height: @padding;

    cursor: pointer;
    opacity: 0;
    transition: opacity 150ms ease-in-out;

    &:before {
        content: '';
        display: block;
        position: absolute;

        height: 2px;
        left: 0;
        top: 50%;
        right: 0;
        margin-top: -1px;

        border-radius: 1px;
        background-color: @brandColorLight;
    }

    &:hover {
        opacity: 1;
    }
}

.row-remove {
    position: absolute;
    cursor: pointer;

    //opacity: 0;
    transition: opacity 150ms ease-in-out;

    width: @padding;
    height: @padding;
    background: yellow;

    &:hover {
        opacity: 1;
    }
}

.row-anim-enter {
    opacity: 0.01;
}

.row-anim-enter.row-anim-enter-active {
    transition: opacity 150ms ease-in-out;
    opacity: 1;
}

.row-anim-leave {
    opacity: 1;
}

.row-anim-leave.row-anim-leave-active {
    transition: opacity 150ms ease-in-out;
    opacity: 0.01;
}


/*
 * Columns
 */

.column-group {
    display: flex;

    &:empty {
        min-height: @paddingThick;

        box-shadow:
        0 0 0 1px #eaeaea inset,
        0 0 0 1px #eaeaea;

        + .column-add {
            z-index: 1;

            height: @paddingThick;
            left: 0;
            right: 0;
            width: auto;
            bottom: auto;

            border-radius: 1px;
            box-shadow:
            0 0 0 1px @brandColorLight inset,
            0 0 0 1px @brandColorLight;

            &:before {
                content: '+';

                top: 50%;
                margin-top: -(@padding/2);
                margin-left: -(@padding/2);
                height: @padding;
                width: @padding;

                font-style: normal;
                text-align: center;
                font-size: @padding;
                line-height: @padding;
                color: #fff;
            }
        }
    }
}

.column-wrapper {
    position: relative;

    width: 100%;
    margin-right: @padding;

    &:last-child {
        margin-right: 0;
    }
}

.column {
    position: relative;
    min-height: 1.34em;
}

.column-add {
    position: absolute;

    top: 0;
    right: -@padding;
    width: @padding;
    bottom: 0;

    cursor: pointer;
    opacity: 0;
    transition: opacity 150ms ease-in-out;

    &:before {
        content: '';
        display: block;
        position: absolute;

        top: 0;
        left: 50%;
        width: 2px;
        height: 100%;
        margin-left: -1px;

        border-radius: 1px;
        background: @brandColorLight;
    }

    &:hover {
        opacity: 1 !important;
    }
}

.column-remove {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    cursor: pointer;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    line-height: @padding;

    i {
        display: block;
        position: absolute;

        top: 50%;
        left: 50%;

        width: @padding;
        height: @padding;
        margin-top: -(@padding/2);
        margin-left: -(@padding/2);

        font-style: normal;
        text-align: center;
        background-color: @secondaryColor;
        color: #fff;
        font-size: @padding;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        pointer-events: none;

        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        border-radius: 1px;
        box-shadow:
        0 0 0 1px @secondaryColorLight inset,
        0 0 0 1px @secondaryColorLight;
    }

    &:hover {
        opacity: 1;
    }
}

.column-anim-enter {
    opacity: 0.01;
}

.column-anim-enter.column-anim-enter-active {
    transition: opacity 150ms ease-in-out;
    opacity: 1;
}

.column-anim-leave {
    opacity: 1;
}

.column-anim-leave.column-anim-leave-active {
    transition: opacity 150ms ease-in-out;
    opacity: 0.01;
}

.edit-mode {
    .column {
        min-height: @paddingThick;
        line-height: @paddingThick;

        border-radius: 1px;
        box-shadow:
        0 0 0 1px #eaeaea inset,
        0 0 0 1px #eaeaea;
    }
}