@paddingThin: 17px;
@padding: 24px;
@paddingThick: 72px;

@sansSerif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@serif: 'Gentium Book Basic', 'Georgia', serif;

@textColor: #434A54;
@textColorLight: #AAB2BD;

@brandColor: #967ADC;
@brandColorLight: lighten(@brandColor, 10%);
@brandColorLighter: lighten(@brandColor, 25%);

@secondaryColor: #FC6E51;
@secondaryColorLight: lighten(@secondaryColor, 10%);
@secondaryColorLighter: lighten(@secondaryColor, 25%);